button {
    height: 40px;
    width: 100px;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    background-color: rgb(248, 232, 0);
}

.mat-form-field {
    display: block;
    margin-top: 2%;

}

mat-label {
    color: black;
}

mat-icon {
    font-size: 25px;
}

h3 {
    color: rgb(40, 59, 4);
    font-size: 23px;
}

.body {
    display: flex;
    justify-content: center;

}