.addentryform {
    margin-left: 37.5%;
    font-size: 19px;
    width: 100px;
}
button{
    height: 35px;
    margin-left: 15%;
    font-size: 15px;
    background-color: rgb(248, 232, 0);
}
mat-icon{
    margin-top: 15%;
    height: 30px;
}


h3 {
    margin-left: 37.5%;
    margin-top: 2%;
    color: rgb(40, 59, 4);
    font-size: 23px;
}

input {
    width: 300px;
    height: 30px;
}
label{
    margin-top: 10%;
}
body{
    margin-top: 4%;
}
