<div class="maindiv">
<body>
    <h3>Eintrag hinzufügen:</h3>

    <div class="addentryform">

        <label for="text">Produkt:</label><br>
        <input type="text" name="text" id="text" [(ngModel)]="shoppinglist.product"><br>

        <mat-label>Wochentag:</mat-label>

        <select [(ngModel)]="shoppinglist.weekday" name="weekday">
            <option>{{weekdays[1]}}</option>
            <option>{{weekdays[2]}}</option>
            <option>{{weekdays[3]}}</option>
            <option>{{weekdays[4]}}</option>
            <option>{{weekdays[5]}}</option>
            <option>{{weekdays[6]}}</option>
            <option>{{weekdays[0]}}</option>

        </select>
        <br>

        <button (click)="addNewProduct();"><mat-icon>add_shopping_cart</mat-icon> </button>


        <br>
        <select name="" style="visibility: hidden;" id="" [(ngModel)]="shoppinglist.isDone">
            <option value="false"></option>
        </select>
    </div>
</body>
</div>