div {
    background-color: rgb(255, 255, 0);
    height: 50px;
}

a {
    zoom: 1.1;
}


.nav-link {
    border-left: 1px solid rgb(233, 226, 137);
    border-collapse: collapse;
}
nav{
    min-width: 600px;
    padding-top: 0;
}