/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html,
body {
    height: 100%;
}

body {
    min-width: 600px;
    margin: 0;
    border-left: 1px solid yellow;
    border-right: 1px solid yellow;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    
}

html {
    margin-left: 20%;
    margin-right: 20%;
    


}