
h3{
    font-size: 18px;
}
select{
    height: 33px;
    margin-left: 100px;
}

mat-card{
    width: 30%;
    margin-left: 700px;
    margin-top: 2%;
}

mat-card-header{
    background-color: yellow;
}
mat-card-content{
    display: flex;
    border: 1px solid;
}
mat-card-footer{
    background-color: lightgray;
    text-align: left;
}
button{
    margin-left: 5px;
    
}
.MatIconDoneBt{
    background-color: lightgreen;
}
.MatIconDeleteBt{
    background-color: rgb(238, 144, 144);
}
.matcarddiv{
}



.sortEntrie {
    margin-top: 1%;
    margin-left: 6.5%;
    background-color: #dfebccda;
    width: 90px;

}

.deleteEntry {
    visibility: hidden;
    margin-top: 1%;
    margin-left: 47.6%;
    background-color: rgba(243, 84, 44, 0.855);
    width: 90px;
}

.isDone {
    visibility: hidden;
    margin-top: 1%;
    margin-left: 2%;
    background-color: #a4ff13da;
    width: 90px;
    width: 100px;

}


input {

    width: 35px;
    height: 18px;
    font-size: 20px;
    border: 1px solid rgb(185, 185, 185);
}


.text-info {

    padding-left: 10px;

}