h3 {
    font-size: 18px;
}

select {
    height: 32px;
    margin-left: 2px;
}

mat-card {
    width: 600px;
    margin-left: 650px;
    margin-top: 2%;
}

mat-label {
    font-size: 18px;
    margin-left: 220px;
}

mat-card-header {
    background-color: rgb(255, 255, 0);
}

mat-card-content {
    display: flex;
    border: 1px solid;
}

mat-card-footer {
    background-color: lightgray;
    text-align: left;
}

button {
    margin-left: 5px;
}

.MatIconDoneBt {
    background-color: lightgreen;
}

.MatIconDeleteBt {
    background-color: rgb(238, 144, 144);
}

input {
    width: 35px;
    height: 18px;
    font-size: 20px;
    border: 1px solid rgb(185, 185, 185);
}